body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin: 0;
    padding: 0;
    --primary-color: #002c46;
    --secondary-color: #fff;
    --primary-off-color: #005fa3;
}

section {
    padding: 40px 0;
    margin: 0;
}

section:first-child {
    padding-top: 80px;
}

section:last-child {
    padding-bottom: 80px;
}



.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

/* Remove top and bottom margin from all containers */
.container * {
    margin-top: 0;
    margin-bottom: 0;
}
/* HERO */
#hero {
    position: relative;
    height: 400px;
    background-image: url("image/hero.png");
    background-size: cover;
    background-position: center;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    color: var(--secondary-color);
}

.hero-content h1 {
    font-size: 4rem;
    margin-bottom: 20px;
}

.hero-content h2 {
    font-size: 2rem;
    margin-bottom: 40px;
}

/* END HERO */

/* BTN-PRIMARY */
.btn-primary {
    display: inline-block;
    font-size: 1.5rem;
    padding: 10px 40px;
    border: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: background-color 0.2s ease-in-out;
}

.btn-primary:hover {
    background-color: #005aa1;
}

/* HOUSE PHOTOS */
#house-photos {
    background-color: #f7f7f7;
}

.photo-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

/* Play an animation named zoom for 500ms, then stay at the end of the animation. */

.photo-item:hover {
    animation: zoom 500ms ease-in-out 100ms forwards;
}

/* Create a keyframe that scales the element by 1.2, and sets the z-index to be on top of */
/* the other elements. 
    Create an invisible box around the element that prevents other elements from being selected */


@keyframes zoom {
    0% {
        transform: scale(1);

    }

    100% {
        transform: scale(1.2);
        z-index: 1;

    }
}

@keyframes unzoom {
    0% {
        transform: scale(1.2);
        z-index: 1;
        /* Make the element unselectable */
        pointer-events: none;
    }

    100% {
        transform: scale(1);
        pointer-events: all;
    }
}

.photo-item {
    margin: 10px;
    overflow: hidden;
    width: calc(50% - 20px);
    position: relative;
    cursor: pointer;
    animation: unzoom 100ms ease-in-out forwards;
}

.photo-item::before {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.photo-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
    object-fit: cover;
}

/* If there are more than 6 photos, create a new grid */
@media (min-width: 992px) {
    .photo-grid>.photo-item:nth-child(n+7) {
        display: none;
    }
}

/* RENTAL OVERVIEW */
#rental-overview {
    background-color: #f7f7f7;
}

.rental-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.rental-image {
    position: absolute;
    top: -20px;
    right: -20px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.rental-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rental-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: var(--secondary-color);
    padding: 30px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.rental-section {
    flex-basis: calc(50% - 20px);
    margin: 10px;
}

.rental-section h3 {
    margin-bottom: 10px;
}

.rental-section p {
    margin: 0;
}

/* HOUSE AMENITIES */
#house-amenities {
    background-color: var(--secondary-color);
}

.amenities-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.amenities-card {
    width: calc(33.33% - 20px);
    margin: 10px;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.amenities-icon {
    font-size: 32px;
    margin-bottom: 20px;
}

.amenities-content h3 {
    margin-bottom: 10px;
}

.amenities-content p {
    margin: 0;
}

/* If there are more than 6 amenities, create a new grid */
@media (min-width: 992px) {
    .amenities-grid>.amen ities-card:nth-child(n+7) {
        display: none;
    }
}

/* REVIEWS */
.reviews {
    margin-top: 50px;
    padding: 50px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.reviews h2 {
    margin: 0;
    padding: 0;
    text-align: center;
    flex: 1 1 100%;
}


.review-card {
    margin: 20px;
    padding: 20px;
    background-color: #f7f7f7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    flex: 1 1 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.review-card h3 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
}

.review-card p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
    flex: 1 0 auto;
}

.review-card small {
    font-size: 14px;
    font-style: italic;
}

/* FRIPP OVERVIEW    */
#fripp-overview {
    background-color: #fff;
  }
  
  .fripp-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  }
  
  .fripp-image {
    flex-basis: 30%;
    overflow: hidden;
  }
  
  .fripp-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .fripp-content {
    flex-basis: 70%;
    padding: 30px;
    text-align: center;
  }
  
  .fripp-content h2 {
    margin-bottom: 20px;
  }
  
  .fripp-content p {
    margin-bottom: 30px;
  }
  
  .btn-secondary {
    display: inline-block;
    font-size: 1.2rem;
    padding: 10px 40px;
    border: none;
    background-color: #0072c6;
    color: #fff;
    transition: background-color 0.2s ease-in-out;
  }
  
  .btn-secondary:hover {
    background-color: #005aa1;
  }
  

.popout-articles {
    margin-top: 50px;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.popout-articles .article {
    margin: 20px;
    padding: 20px;
    background-color: #f7f7f7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    flex: 1 1 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.popout-articles h3 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
}

.popout-articles p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
    flex: 1 0 auto;
}

.renter-login {
    margin-top: 50px;
    padding: 50px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.renter-login form {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.renter-login input[type="text"],
.renter-login input[type="email"],
.renter-login input[type="password"] {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1 1 50%;
    max-width: 300px;
}

.renter-login input[type="submit"] {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.renter-login input[type="submit"]:hover {
    background-color: var(--primary-off-color);
}



.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.nav-logo {
    font-size: 28px;
    font-weight: bold;
    color: var(--secondary-color);
    text-decoration: none;
}

.nav-menu {
    display: flex;
    align-items: center;
    margin: 0;
    list-style: none;
}

.nav-menu li {
    margin: 0 10px;
}

.nav-menu li a {
    font-size: 16px;
    color: var(--secondary-color);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.nav-menu li a:hover,
.nav-menu li a:focus {
    color: #f7f7f7;
}


@media screen and (max-width: 768px) {
    .rental-overview p {
        flex: 1 1 100%;
    }

    .house-amenities li {
        flex: 1 1 50%;
    }

    .house-photos img {
        flex: 1 1 50%;
    }

    .review-card {
        flex: 1 1 50%;
    }

    .fripp-island-overview p {
        flex: 1 1 100%;
    }

    .popout-articles .article {
        flex: 1 1 100%;
    }
}